---
import LogoFooter from "../icons/LogoFooter.astro";
---

<section class="bg-black sm:mt-[35px] mt-[25px]">
  <div
    class="flex flex-wrap-reverse justify-between py-10 md:px-20 px-6 gap-16"
  >
    <div><LogoFooter /></div>

    <div class="grid grid-cols-2 md:gap-24 gap-12 lg2:px-10">
      <div class="link-container">
        <div class="link-title benguiat">INFO</div>
        <div class="link mark">About us</div>
        <div class="link mark">Awards</div>
        <div class="link mark">Contact us</div>
        <div class="link mark">Shipping Policy</div>
        <div class="link mark">Subscription FAQ</div>
        <div class="link mark">Terms & Privacy</div>
      </div>
      <div class="link-container">
        <div class="link-title benguiat">SOCIALS</div>
        <div class="link mark">Newsletter</div>
        <div class="link mark">Instagram</div>
        <div class="link mark">Facebook</div>
        <div class="link mark">Twitter</div>
      </div>
    </div>
  </div>

  <div class="f-title benguiat lg:block hidden">PILLARS</div>
  <div class="overflow-hidden">
    <div class="site-footer__secondary-pattern mt-4"></div>
    <div class="copyright benguiat md:px-20 px-6">
      © 2024 PILLARS BREWERY. ALL RIGHTS RESERVED.
    </div>
  </div>
</section>
