---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Navbar from "../components/sections/Navbar";
import Garage from "../components/sections/Garage.astro";
import Bottles from "../components/sections/Bottles.astro";
import Carousel from "../components/sections/Carousel";
import Places from "../components/sections/Places.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout title="Pillars Brewery">
  <main>
    <Navbar client:load />
    <Hero />
    <Garage />
    <Bottles />
    <Carousel client:only="react" />
    <Places />
    <Footer />
  </main>
</Layout>
