---
import BannerText from "./BannerText.astro";

interface Props {
  background: string;
}

const { background } = Astro.props;
---

<div style={`background-color:${background};`} class="marquee">
  <div class="slide">
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
    <BannerText />
  </div>
</div>
