---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    background-color: #fdeee1;
    color: #1d1c1a;
  }

  .fixedCenterY {
    top: 50%;
    transform: translateY(-50%);
  }

  .fixedCenterX {
    left: 50%;
    transform: translateX(-50%);
  }

  .fixedCenterXnY {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @font-face {
    font-family: endless;
    src: url(/Endless.woff2);
  }

  .endless {
    font-family: endless;
  }

  @font-face {
    font-family: "benguiat";
    src: url(/Benguiat.woff2);
  }

  .benguiat {
    font-family: benguiat;
  }

  @font-face {
    font-family: "mark";
    src: url(/Mark.otf);
  }

  .mark {
    font-family: mark;
  }
  /*Navbar ________________________________________________*/

  .nav-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fdeee1;
    z-index: 50;
  }

  .nav-desktop {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fdeee1;
    display: flex;
    align-items: center;
    border-width: 1px;
    border-color: black;
    letter-spacing: -0.025em;
    position: relative;
    z-index: 50;
  }

  .nav-buttons {
    position: absolute;
    right: 26px;
    display: flex;
    gap: 0.75rem /* 12px */;
    align-items: center;
  }

  .cart-number {
    position: absolute;
    line-height: 1;
    font-size: 20px;
    color: #ec6d26;
    margin-top: -1px;
    margin-left: -1px;
  }

  .menu-icon {
    user-select: none;
    cursor: pointer;
  }

  .desktop-tab-container {
    height: 68px;
    width: 100%;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    font-size: 21px;
    gap: 0.5px;
    border-width: 1px;
    border-top-width: 0px;
    border-color: black;
    letter-spacing: -0.025em;
  }

  .nav-desktop-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right-width: 1px;
    border-color: black;
    cursor: pointer;
    user-select: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .nav-desktop-tab:hover {
    color: #ec6d26;
  }

  .menu-container {
    padding-top: 87px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #fdeee1;
    padding-bottom: 3.5rem /* 56px */;
  }

  .mobile-tab-container {
    gap: 1rem /* 16px */;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem /* 40px */;
  }

  .nav-mobile-tab {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .nav-mobile-tab:hover {
    color: #ec6d26;
  }

  .pattern-bottom-cream {
    margin-top: 20px;
    bottom: -0.5px;
    background-position: bottom left;
    background-image: url(bottom-cream.svg);
    margin-bottom: -5px;
    background-repeat: repeat;
    height: 26px;
    position: relative;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem /* 16px */;
    margin-top: 2.5rem /* 40px */;
  }

  .social {
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .social:hover {
    transform: scale(1.1);
  }

  /*Hero ________________________________________________*/

  .h-image-container {
    padding-top: 42px;
    display: grid;
    position: relative;
  }

  .h-image {
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    aspect-ratio: 9/13;
    background-position: center;
  }

  .h-info-container {
    position: absolute;
    bottom: 2.5rem /* 40px */;
    text-align: center;
    z-index: 40;
  }

  .h-title {
    color: #ec6d26;
    margin-bottom: 0.5rem /* 8px */;
    font-size: 18px;
  }

  .h-subtitle {
    color: #fdeee1;
    font-size: 36px;
    line-height: 32px;
  }

  .shadowBot {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(360deg, rgb(0, 0, 0) 1%, rgba(0, 0, 0, 0) 75%);
  }

  .marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 42px;
  }

  .slide {
    padding-left: 100%;
    animation: marquee 75s linear infinite;
    height: 100%;
    display: flex;
    align-items: center;
  }

  @media (min-width: 640px) {
    .slide {
      animation: marquee 175s linear infinite;
    }
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-1000%, 0);
    }
  }

  .bannerText {
    font-size: 18px;
    line-height: 1;
    gap: 10px;
    display: flex;
    margin-right: 14px;
    color: white;
  }

  /*Garage ________________________________________________*/

  .g-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    max-height: 850px;
    aspect-ratio: 1/1;
  }

  .g-info {
    margin: auto;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    max-width: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 5rem /* 80px */;
    padding-bottom: 5rem /* 80px */;
    align-items: center;
  }

  .g-title {
    font-size: 18px;
    color: #ec6d26;
  }

  .g-subtitle {
    line-height: 50px;
    font-size: 60px;
    margin-top: 1rem /* 16px */;
  }

  .g-button-container {
    margin-top: 2.5rem /* 40px */;
    position: relative;
  }

  .g-button-container:hover {
    color: #ec6d26;
  }

  .g-button {
    position: absolute;
    font-size: 19px;
    cursor: pointer;
    width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  /*Carousel ________________________________________________*/

  .square {
    background-size: cover;
    border-width: 1px;
    border-color: black;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
  }
</style>
